$blue: #0bacf0;
$white: #ffffff;

.root {
  position: relative;

  display: inline-flex;
  align-items: center;
  height: 40px;
  min-width: 100px;
  padding-right: 10px;
  padding-left: 27px;

  background-color: $white;
  border: solid 1px $blue;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(9, 171, 241, 0.2);
  color: $blue;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;

  transition: all linear 0.2s;

  &:hover {
    top: 1px;

    box-shadow: 0px 2px 4px 0 rgba(9, 171, 241, 0.3);
  }

  &::after {
    content: ' ';

    position: absolute;
    top: 50%;
    left: 7px;

    width: 14px;
    height: 14px;

    border: solid 1px $blue;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  &.checked::before {
    content: ' ';

    position: absolute;
    top: 50%;
    left: 10px;

    width: 8px;
    height: 8px;

    background-color: $blue;
    background-image: linear-gradient(to bottom, #7debe2, #009de5);
    border-radius: 50%;

    transform: translateY(-50%);
  }
}

.input {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  border: 0;
  clip: rect(0 0 0 0);
}
