@import "../../styles/all.css";

.root {
  position: relative;

  padding: $spacing-12;

  background-color: transparent;

  border: 2px solid white;

  color: white;

  cursor: pointer;
  outline: none;

  text-align: left;

  text-decoration: none;
}

.root:hover,
.root.active {
  background-color: white;

  color: $klein-blue;
}

.root:hover > *,
.root.active > * {
  color: $klein-blue;

  text-decoration: none;
}

.root:hover *,
.root.active * {
  stroke: $oxford-blue;
}

.small {
  width: $column;

  padding: $spacing-8 0;

  text-align: center;
}

.medium {
  width: $two-columns;

  padding: $spacing-8 $gutter;
}
