@import "../../styles/all.css";

.root {
  position: relative;

  background-color: transparent;

  border: 2px solid white;

  color: white;

  cursor: pointer;
  outline: none;

  text-decoration: none;
}

.root:hover,
.root.active {
  background-color: white;

  color: $klein-blue;
}

.emoji {
  position: absolute;

  top: 0;

  left: calc(calc($spacing-32 + $spacing-20) * -1);

  display: none;

  @include body-small-responsive-font;
}

.content {
  padding: $spacing-8 $spacing-32;
}

.root:hover > .content,
.root.active > .content {
  color: $klein-blue;

  text-decoration: none;
}

.root:hover > .emoji,
.root.active > .emoji {
  display: block;
}

.arrow {
  padding: $spacing-8;
}

.root:hover > .arrow *,
.root.active > .arrow * {
  stroke: $klein-blue;
}
