@import "../../styles/all.css";

.root {
  display: block;

  text-align: left;
}

.title {
  display: flex;

  padding: 0;
  margin-bottom: $spacing-12;

  background: none;

  border: none;

  cursor: pointer;
  outline: none;

  span {
    margin-left: $spacing-12;
  }

  svg {
    margin-left: $spacing-12;
  }
}

.title > * {
  align-self: center;
}
