@import "../../styles/variables.css";

.root {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
}

.item {
  z-index: 1;

  width: 16px;
  height: 16px;

  background-color: $pale-grey;
  border: 1px solid $seafoam-blue;
  border-radius: 50%;
  cursor: pointer;

  text-align: center;
}

.itemSelected {
  z-index: 1;

  width: 16px;
  height: 16px;

  background-color: $cerulean-two;
  background-image: linear-gradient(to bottom, $seafoam-blue, $cerulean-two);
  border-radius: 50%;

  text-align: center;
}

.input {
  /*display: none;*/
  /*opacity: 0;*/
  visibility: hidden;
}

.line {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 0;

  width: 98%;
  height: 1px;

  background: $seafoam-blue;
}
