@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$modal-width: 600px;
$modal-height: 400px;

$seafoam-blue: #7debe2;
$cerulean-two: #0095df;
$pale-grey: #f3f6f7;
$bluish-grey: #83989f;

$font-monsterrat: 'Montserrat', sans-serif;;
