@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: $klein-blue;
}

.gallery {
  position: absolute;
  top: $spacing-224;
  left: 0;

  display: flex;
  flex-direction: row;
}

.questionWrapper {
  width: 100vw;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: $seven-columns;
  margin: 0 auto;
}

.question > *:last-child {
  width: $two-columns;
}

.footer {
  width: 100vw;
  margin-top: auto;

  background-color: $oxford-blue;
}

.footer > * {
  max-width: $content-width-desktop;
  margin: 0 auto;
}
