@import "../../styles/all.css";

.root {
  display: flex;
  justify-content: space-between;
  padding: $spacing-20 0;

  @include Breakpoint-tabletAndBelow {
    padding: $spacing-20;
  }
}

.arrows > * + * {
  margin-left: $spacing-12;
}
