@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  max-width: $four-columns;
}
